/* css styles */
.important {
  color: maroon;
  text-align: center;
  font-size: 20px;
}



#mtcars-btn {
     font-size: x-small;
     padding: 0.2rem 0.3rem !important;
   }

#down-btn {
 margin-right: 2px;
 margin-left: 2px;
}

a:has(#mtcars-btn) {
 text-decoration: none !important;
}

.btn {
  padding: 2px 6px;
  background-color: #48d9ca;  /* Bootstrap blue */
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: #37ab9f; /* Darker blue on hover */
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 0.5em 1em;
  vertical-align: top;
}

th {
  background-color: #f4f4f4;
  text-align: left;

  /* Sticky header styles */
  position: sticky;
  top: 0;
  z-index: 10;
  /* To prevent transparency when sticky */
  background-color: #f4f4f4;
  /* Optional: subtle border-bottom */
  border-bottom: 2px solid #bbb;
}
